[Desktop Entry]
Version=1.0
Name=alist
Exec=sh /home/sb/alist.sh
Icon=/home/sb/Downloads/logo.svg

Terminal=true
Type=Application
Categories=System;TerminalEmulator;
